.website {
  background-image: linear-gradient(rgb(142, 197, 221), rgb(0, 157, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 80px;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 40px;
  text-shadow: 5px 5px rgb(255, 255, 255);
}

.contentSection {
  display: flex;
}

.TipList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: solid;
  border-color: rgb(71, 179, 237);
  background-color: rgb(227, 172, 224);
}

.tankDetails_tips {
  margin: 20px;
}

.tankDetails_care {
  margin: 20px;
}

.fishList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fish__card {
  flex-basis: 25%;
  text-align: center;
  margin: 20px;
  border: 3px solid rgb(132, 179, 220);
  background-color: rgb(227, 172, 224);
}

.fish__image {
  width: 300px;
  height: fit-content;
}

.fish__name {
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
}

.fish__species {
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
}

.quotesSection {
  padding: 20px;
  text-align: center;
  border: solid hotpink;
  background-color: rgb(227, 172, 224);
  border-width: 1em;
}

.locationsInserted {
  padding: 20px;
  text-align: center;
  margin: 20px;
  border: solid hotpink;
  background-color: rgb(227, 172, 224);
  border-width: 1em;
}
